.content {
	overflow: auto;
	position: relative;
	padding: 10px;
	background: transparent;
	margin: 20px auto;
	width: 75%;
	height: auto;
}
.content li {
	margin: 0 4px;
}
.content li a {
	display: block;
	border: 7px solid white;
}
#content-3 {
	width: 180px;
	height: 650px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 10px;
	background-color: aliceblue;
}
#content-3 li {
	margin: 8px 0;
}
#content-3 li a {
	border: none;
	text-align: center;
}
#content-3 li img {
	border: 2px solid white;
	width: 160px;
}